@import './base.css';

.p-steps-title{
    color: var(--green-bright);
}

@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

:root {
    scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
}


/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--navy);
}

::-webkit-scrollbar-thumb {
  background: var(--green-bright);
  border-radius: 5px;
}

.section-header {
  display: flex;
  padding-bottom: 42px;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}
.section-title {
  font-family: "NTR", sans-serif;
  color: var(--lightest-slate);
  font-size: 46px;
  font-weight: bold;
}