@import './base.css';

.p-steps-title{
    color: var(--green-bright);
}

@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

:root {
    scroll-behavior: smooth;
}

html {
    scrollbar-color: blue white;
    scrollbar-width: thin;
  }
  
  /* WebKit and Chromiums */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--navy);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--green-bright);
    border-radius: 5px;
  }